<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <!-- 用户的数据库连接在这里设置-->
  <add key="userid" value="sa" />
  <add key="password" value="sa" />
  <add key="database" value="Test" />
  <add key="datasource" value="." />
  <add key="selectKey" value="select @@IDENTITY as value" />
  <add key="directory" value="Maps" />
  <add key="useStatementNamespaces" value="false" />
  <add key="provider" value="sqlServer2.0" />
</settings>
