<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <settings>
    <setting useStatementNamespaces="true"/>
  </settings>

  <providers resource="../Test.Respository/providers.config"/>
  <database>
    <provider name="SqlServer"/>
    <!--<dataSource name="iBatisNet" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/>-->
    <dataSource name="iBatisNet" connectionString="data source=.;database=DB_Test;user id=sa;password=123456;connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/>
  </database>

  <sqlMaps>
    <!-- 所有的xml文件-->
    <sqlMap embedded="Test.Domain.Maps.StudentManage.xml,Test.Domain"/>
  </sqlMaps>
</sqlMapConfig>
