<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <properties embedded="database.config,SqlMaps"/>
  <settings>
    <setting useStatementNamespaces="${useStatementNamespaces}"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>
  <!-- 加载数据库驱动 -->
  <providers embedded="providers.config,SqlMaps"/>
  <database>
    <provider name="${provider}"/>
    <!--<dataSource name="iBatisNet" connectionString="data source=${datasource};database=${database};user id=${userid};password=${password};connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/>-->
    <dataSource name="iBatisNet" connectionString="data source=.;database=Test;user id=sa;password=sa;connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/>
  </database>

  <sqlMaps>
    <!-- 所有的xml文件-->
    <sqlMap embedded="Maps.StudentManage.xml,SqlMaps"/>
  </sqlMaps>
</sqlMapConfig>
