
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test2</title>
</head>
<body>
    <div>
        this is test2 page 
    </div>
</body>
</html>
